{% extends '_base.html'%}

{% load crispy_forms_tags %}

{% block title %}
Edit Comment
{% endblock title %}

{% block content %}
<h1> Dear {{request.user}} </h1>
<h3> You can update your comment here.<h3>
<h3> Your comment will be published after admin confirmation.<h3>

    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center">Edit your comment</h3>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                    
                        <button type="submit" class="btn btn-primary w-100 mt-3">Edit</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>


{% endblock content %}