{% extends "_base.html" %}

{% block title %}
403
{% endblock title %}

{% block content %}
<div class="row justify-content-center mt-3">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">

                <h1 class="text-center">403 Forbidden</h1><br><br>
                <h3 class="text-center"><i class="fa-solid fa-ban" style="color: red; font-size: 30px;"></i> ow ow! you are not suppose to be here! <i class="fa-solid fa-ban" style="color: red; font-size: 30px;"></i></h3>
                <h5 class="text-center"><i class="fa-solid fa-triangle-exclamation" style="color: orange; font-size: 24px;"></i> Probably you were about to manipulate a content which is not belong to you! <i class="fa-solid fa-triangle-exclamation" style="color: orange; font-size: 24px;"></i></h5>
                <h5 class="text-center">You may use the menu and return.</h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}