{% extends "_base.html" %}

{% block title %}
403
{% endblock title %}

{% block content %}
<div class="row justify-content-center mt-3">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">

                <h1 class="text-center">404 Not Found</h1><br><br>
                <h3 class="text-center"> GET LOST?! </h3>
                <h5 class="text-center">You may use the menu and return.</h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}